<p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
        <img alt="Card" [src]="exhibition()?.image | ImgBlobConverter" />
    </ng-template>
    <h1>{{exhibition()?.name}}</h1>
    <p>{{exhibition()?.description}}</p>
    <ng-template pTemplate="footer">
        <div>
            <span>avg ratings : {{exhibition()?.avgRating}}</span>
        </div>
        <div>
            @for (review of exhibition()?.reviews; track $index) {
                <app-review [review]="review"></app-review>
            }
        </div>
    </ng-template>
    <p-button (click)="showDialog()" icon="pi pi-book" label="Show"></p-button>
    <p-dialog header="Booking" [(visible)]="visible" [style]="{width: '50vw', height: '50vh'}">
        <span>name expo</span>
        <div>
            <p>prices are the same for all exhibitions</p>
            <p>Group reduction from ... people</p>
            <div>
                pricing : 
                <span>Adult (18-64) : {{pricing()?.adultPrice}}€</span>
                <span>Child (under 18) : {{pricing()?.childPrice}}€</span>
                <span>Senior (65+) : {{pricing()?.seniorPrice}}€</span>
                <span>GroupPrice : {{pricing()?.groupReduction}}% reduction on total when at least {{pricing()?.groupMinNumber}} people</span>
            </div>
        </div>
        <div>
            <form>
                <div>
                    <p-inputNumber inputId="adults" [min]="0" [showButtons]="true"></p-inputNumber>
                    <label for="AdultNumber">How Many Adults ?</label>
                </div>
                <div>
                    <p-inputNumber inputId="ChildrenNumber" [min]="0" [showButtons]="true"></p-inputNumber>
                    <label for="ChildrenNumber">How Many Children ?</label>
                </div>
                <div>
                    <p-inputNumber inputId="SeniorNumber" [min]="0" [showButtons]="true"></p-inputNumber>
                    <label for="SeniorNumber">How Many Seniors ?</label>
                </div>
                <div>
                    <span>startdate, keep in mind that it lasts 1 hour</span>
                    <p-calendar></p-calendar>
                    <p-dropdown [options]="hourRange" optionLabel="hour" [showClear]="true" placeholder="Select an hour range"></p-dropdown>
                </div>
                <div>
                    <span>totalPrice: €</span>
                    <p-inputNumber [readonly]="true" mode="currency" inputId="total" currency="EUR" locale="be-BE"> </p-inputNumber>
                </div>
                <button (click)="bookingCheck()">Stripe Payment</button>
            </form>
        </div>
    </p-dialog>
</p-card>