<p-card [style]="{ width: '200px' }">
    <ng-template pTemplate="header">
        <img alt="Card" width="150px" [src]="exhibition()?.image | ImgBlobConverter" />
    </ng-template>
    <h1>{{exhibition()?.name}}</h1>
    <p>{{exhibition()?.description}}</p>
    <span>avg ratings : {{exhibition()?.avgRating}} <i class="pi pi-star-fill text-yellow-500"></i></span>
    <div class="my-2">
        <p-button (click)="showDialog()" icon="pi pi-book" label="Book Now!"></p-button>
    </div>
        <div class="my-3">
            <p-button [routerLink]="['/exhibitionReviews', id]"  icon="pi pi-star" label="Show Reviews"></p-button>
        </div>
</p-card>

<p-dialog header="Booking" [(visible)]="visible" [style]="{width: '50vw', height: '75vh'}">
    <h3>{{exhibition()?.name}}</h3>
    <div>
        <p>prices are the same for all exhibitions</p>
        <p>Group reduction from {{pricing()?.groupMinNumber}} people</p>
        <div class="flex flex-column mb-3">
            <span>Adult (18-64) : {{pricing()?.adultPrice}}€</span>
            <span>Child (under 18) : {{pricing()?.childPrice}}€</span>
            <span>Senior (65+) : {{pricing()?.seniorPrice}}€</span>
            <span>GroupPrice : {{pricing()?.groupReduction}}% reduction on total when at least
                {{pricing()?.groupMinNumber}} people</span>
        </div>
    </div>
    <div>
        <form [formGroup]="fg" (ngSubmit)="bookingCheck()">
            <div class="flex flex-column my-2">
                <label for="AdultsNumber">How Many Adults ?</label>
                <p-inputNumber formControlName="adults" name="adultNb" inputId="AdultsNumber" [(ngModel)]="adultNb"
                    [min]="0" [showButtons]="true"></p-inputNumber>
            </div>
            <div class="flex flex-column my-2">
                <label for="ChildrenNumber">How Many Children ?</label>
                <p-inputNumber formControlName="children" name="childNb" inputId="ChildrenNumber" [(ngModel)]="childNb"
                    [min]="0" [showButtons]="true"></p-inputNumber>
            </div>
            <div class="flex flex-column my-2">
                <label for="SeniorsNumber">How Many Seniors ?</label>
                <p-inputNumber formControlName="seniors" name="seniorNb" inputId="SeniorsNumber" [(ngModel)]="seniorNb"
                    [min]="0" [showButtons]="true"></p-inputNumber>
            </div>
            <div class="mt-3">
                <label for="startdate">Date</label>
                <p-calendar class="m-4" formControlName="startdate"></p-calendar>
                <p-dropdown formControlName="hours" [options]="hourRange" optionLabel="hour" [showClear]="true"
                    placeholder="Select an hour range"></p-dropdown>
            </div>
            <div class="my-2">
                <span>totalPrice: {{ calculateTotalPrice() }}€</span>
            </div>
            <p-button type="submit">Payment</p-button>
        </form>
    </div>
</p-dialog>