<div class="p-8">
    <p-table [value]="users()" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>FloorNumber</th>
                <th>activate/remove</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.use }}</td>
                <td>{{ user.floorNumber }}</td>
                <td>
                    @if (user.isDeleted) {
                    <p-button (onClick)="deleteConfirmation($event, user.id)" class="m-3" icon="pi pi-times"
                        [rounded]="true" severity="danger"></p-button>
                    <p-button (onClick)="activateConfirmation($event, user.id)" class="m-3" icon="pi pi-times"
                        [rounded]="true" severity="danger"></p-button>
                    }
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>