:host {
  position: fixed;
  display: flex;
  background-color: rgba(221, 215, 134, 0.8);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;

}
.lds-dual-ring {
  display: inline-block!important;
  width: 80px!important;
  height: 80px!important;
}
.lds-dual-ring:after {
  content: " "!important;
  display: block!important;
  width: 64px!important;
  height: 64px!important;
  margin: 8px!important;
  border-radius: 50%!important;
  border: 6px solid #000000!important;
  border-color: #000000 transparent #000000 transparent!important;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
