.p-button {
  background-color: #e7e7e7;
  border-radius: 50%;
}

.p-button:hover {
  background-color: rgb(40, 115, 201);
}

.floorBtn:nth-child(odd){
  margin-left: 50px;
}
.-p-card-body{
  display: flex;
  flex-direction: column;
}