main {
    width: 100%;
    height: 100vh;
    background: url("../assets/BckImgMuseum.png")no-repeat center;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    margin: 0;
}

:host > div {
    display: flex;
}
:host > div > * {
    width: 50%;
}
