<div class="p-card p-2">
    <h1 align="center" class="p-4">Update Floor</h1>
    <form class="my-5" [formGroup]="fg" (ngSubmit)="update()">
        <span class="m-2">
            <input  formControlName="name" pInputText id="name"  />
        </span>
        <span class="m-2">
            <p-inputNumber inputId="floorNumber" formControlName="floorNumber" id="floorNumber"></p-inputNumber>
        </span>
        <p-button type="submit" class="m-3" icon="pi pi-pencil" [rounded]="true" severity="Warning"></p-button>
    </form>
</div>