<div class="container">
    <div class="grid my-5">
        <div class="col-6">
            <p-card align="center" class="cursor-pointer" [routerLink]="['/users', id]" header="Edit Profile">
                <i class="pi pi-pencil"></i>
            </p-card>
        </div>
        <div class="col-6">
            <p-card align="center" class="cursor-pointer" [routerLink]="['/bookings',id]" header="Show my Bookings">
                <i class="pi pi-book"></i>
            </p-card>
        </div>
        @if (role == "Admin") {
        <div class="col-3">
            <p-card align="center" class="cursor-pointer" [routerLink]="['/floors']" header="show Floors">
                <i class="pi pi-chevron-circle-up"></i>
            </p-card>
        </div>
        <div class="col-3">
            <p-card align="center" class="cursor-pointer" [routerLink]="['/categories']" header="show Categories">
                <i class="pi pi-paperclip"></i>
            </p-card>
        </div>
        <div class="col-3">
            <p-card align="center" class="cursor-pointer" [routerLink]="['/users']" header="show all Users">
                <i class="pi pi-users"></i>
            </p-card>
        </div>
        <div class="col-3">
            <p-card align="center" class="cursor-pointer" [routerLink]="['/pricing']" header="Edit Pricing">
                <i class="pi pi-money-bill"></i>
            </p-card>
        </div>
        }
    </div>
</div>