<div class="grid flex">
    <div class="row flex justify-content-centeer align-items-center">
        <div class="col-6" align="center">
            <p-card header="Edit profile" [style]="{ width: '360px' }">
                <i class="pi pi-pencil"></i>
            </p-card>
        </div>
        <div class="col-6" align="center">
            <p-card header="Show bookings" [style]="{ width: '360px' }">
                <i class="pi pi-book"></i>
            </p-card>
        </div>
        <div class="col-6" align="center">
            <p-card header="show " [style]="{ width: '360px' }">
                <i class="pi pi-book"></i>
            </p-card>
        </div>
    </div>
</div>